.aboutMe {
  margin: 0 auto;
  max-width: 1362px;

  margin-top: 2rem;
  display: flex;
  flex: auto;
  justify-content: center;
}

.cls {
  fill: none;
  stroke: var(--color-blue-light);
  stroke-miterlimit: 10;
  max-height: 400px;
  width: auto;
}

.aboutMe__p1 {
  width: 70%;
  margin-top: 10vh;
  height: auto;
}

.aboutMe__p1 > h1 {
  padding-bottom: 2rem;
  font-family: var(--font-cardo);
  font-size: var(--font-size_48);
  font-weight: 100;
}
.aboutMe__p1 > p {
  font-family: var(--font-cairo);
  font-size: var(--font-size_16);
  font-weight: 400;
}

.aboutMe__p2 {
  width: 30%;
  margin-left: 4rem;
  height: auto;
}

.aboutMe__p2 > h2 {
  position: absolute;
  text-transform: uppercase;
  font-weight: 100;
  font-family: var(--font-cairo);
  width: 25%;
  opacity: 0;
}

.partTwo {
  margin: 0 auto;
  max-width: 1362px;
}

.partTwo_skills {
  padding-bottom: 2rem;
  font-family: var(--font-cardo);
  font-size: var(--font-size_48);
  font-weight: 100;
}

.partTwo_container {
  margin: 0 auto;
  max-width: 681px;
  display: flex;

  font-family: var(--font-cairo);
  font-size: var(--font-size_24);
  font-weight: 100;
}

.partTwo_container > p {
  margin-right: 3rem;
}

.partTwo__exp {
  border-bottom: solid var(--color-blue-medium) 2px;
  width: 2rem;
  position: relative;
  bottom: 1.25rem;
  margin-right: 2rem;
}
.partTwo__expLess {
  border-bottom: solid var(--color-blue-light) 2px;
  width: 2rem;
  position: relative;
  bottom: 1.25rem;
  margin-right: 2rem;
}

.partTwo__expLess:hover {
  border-bottom: solid var(--color-blue-medium) 2px;
}

@media screen and (max-width: 1362px) {
  .container {
    margin: 0 1rem;
  }
}
@media screen and (max-width: 850px) {
  .aboutMe__p2 {
    display: none;
  }

  .aboutMe__p1 {
    width: 100%;
    margin-top: 10vh;
    height: auto;
  }
}
