.footer {
  margin-top: 2rem;
  background: var(--color-blue-regular);
  height: 15vh;
  color: var(--color-whiite);
}
.footer__icons {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}
.footer__icons :first-child {
  margin-left: 1rem;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  padding-top: 10vh;
}
.footer__text {
  display: flex;
  justify-content: space-between;
}
