.bg {
  background: var(--color-blue-medium);
  height: 90vh;
}

.bg__text {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  font-size: var(--font-size_128);
  color: var(--color-whiite);
  text-transform: capitalize;
  font-style: italic;
}
.bg__text_scroll {
  display: flex;

  flex-direction: column;
  margin-bottom: 2rem;
  align-items: center;
}

.bg__text_main {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bg__text_down {
  font-size: var(--font-size_16);
  font-family: var(--font-cairo);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 1rem;
}

.icon {
  width: 32px;
  height: auto;

  position: relative;
  top: 2px;
  filter: invert(1); /* color reverse */
}

.text__690 {
  display: none;
}

.btnTwo {
  border: none;

  margin-top: 2rem;

  background: none;
  transition: all 0.75s;

  right: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.btnTwo:hover {
  border-radius: none;
  border: none;
  background: none;
  transform: translateY(0.5rem);
}
.btnTwo:active {
  border-radius: none;
  border: none;
  background: none;
}

@media only screen and (max-width: 700px) {
  .text__700 {
    display: none;
  }
  .text__690 {
    display: block;
  }
  .bg__text_main {
    margin-top: 4rem;
  }
  .bg__text {
    font-size: var(--font-size_96);
  }
}

@media only screen and (max-width: 560px) {
  .bg__text {
    font-size: var(--font-size_96);
  }

  .bg__text_main {
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 430px) {
  .bg__text {
    font-size: var(--font-size_64);
  }
  .bg__text_main {
    margin-top: 2rem;
  }
  .bg__text_scroll {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
    position: relative;
    bottom: 6rem;
  }
}
