.bg {
  background: var(--color-blue-medium);
  height: 90vh;
}

.bg__text {
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size_128);
  color: var(--color-whiite);
  text-transform: capitalize;
  font-style: italic;
}
.bg__text_scroll {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
}

.bg__text_down {
  font-size: var(--font-size_16);
  font-family: var(--font-cairo);
  font-style: normal;
  font-weight: 600;
}

.icon {
  width: 32px;
  height: auto;

  position: relative;
  top: 2px;
}
