.project {
  margin-top: 1rem;
}
.project :first-child {
  font-size: var(--font-size_16);
  font-family: var(--font-cairo);
}
.project h1 {
  font-size: var(--font-size_48);
  font-family: var(--font-cardo);
}
.project div {
  border-bottom: solid var(--color-dark) 1px;
  margin-top: 1rem;
  max-width: 90%;
}
