* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-cardo: 'Cardo', serif;
  --font-cairo: 'Cairo', sans-serif;
  --font-abril: abril-fatface, serif;

  --color-blue-medium: #040fd9;
  --color-blue-regular: #0511f2;
  --color-blue-light: #a7abf2;
  --color-dark: #0d0d0d;
  --color-whiite: #f2f2f2;

  --font-size_16: 1rem;
  --font-size_24: 1.5rem;
  --font-size_32: 2rem;
  --font-size_48: 3rem;
  --font-size_64: 4rem;
  --font-size_96: 6rem;
  --font-size_128: 8rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-dark) !important;
  background: var(--color-whiite);
}

html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}

/* DEBUG */
/* * {
  border: solid red 1px;
} */

a,
u {
  text-decoration: none;
  color: var(--color-dark);
  transition: all 0.2s ease-in-out;
}

a:hover {
  opacity: 70%;
}

button {
  border: solid var(--color-blue-medium) 1px;
  border-radius: 99% 40% 99% 40%;
  padding: 0.25rem 1rem;
  font-size: var(--font-size_16) !important;
  font-family: var(--font-cairo) !important;
  background: none;
  transition: all 0.5s;
}

button:hover {
  border-radius: 40% 99% 40% 99%;
  background-color: var(--color-blue-light);
  cursor: pointer;
}
button:active {
  border-radius: 40% 99% 40% 99%;
  border: var(--color-blue-medium) dotted 1px;
}

/* width */
::-webkit-scrollbar {
  width: 9.9px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-left: 4.9px solid var(--color-whiite);
  border-right: 4.9px solid var(--color-whiite);
}
::-webkit-scrollbar-track:hover {
  background: gray;
  border-left: 4.9px solid var(--color-whiite);
  border-right: 4.9px solid var(--color-whiite);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(121, 121, 121);
}

::selection {
  background: var(--color-blue-light);
}
