:root {
  --font-cardo: 'Cardo', serif;
  --font-cairo: 'Cairo', sans-serif;

  --color-blue: #1100ff;
  --color-dark: #444444;
  --color-gray: #d9d9d9;
  --color-whiite: #fff;
}

body {
  margin: 0 auto;
  max-width: 1377px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
