* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-cardo: 'Cardo', serif;
  --font-cairo: 'Cairo', sans-serif;

  --color-blue-medium: #040fd9;
  --color-blue-regular: #0511f2;
  --color-blue-light: #a7abf2;
  --color-dark: #0d0d0d;
  --color-whiite: #f2f2f2;

  --font-size_16: 1rem;
  --font-size_24: 1.5rem;
  --font-size_32: 2rem;
  --font-size_48: 3rem;
  --font-size_64: 4rem;
  --font-size_96: 6rem;
  --font-size_128: 8rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-dark) !important;
  background: var(--color-whiite);
}

html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}

/* DEBUG */
/* * {
  border: solid red 1px;
} */
